<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="hip_torque_max" value="60"/>
    <xacro:property name="thigh_torque_max" value="60"/>
    <xacro:property name="calf_torque_max" value="90"/>
    
    <xacro:property name="ros_version" value="$(env ROS_VERSION)" />

    <xacro:if value="${int(ros_version) == 1}">

    <!-- ros_control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/panda3_gazebo</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>

    <!-- Show the trajectory of trunk center. -->
    <!--gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>10</frequency>
            <plot>
                <link>base</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Yellow</material>
            </plot>
        </plugin>
    </gazebo-->

    <!-- Show the trajectory of foot. You can add another trajectory about another foot. -->
     <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>100</frequency>
            <plot>
                <link>FL_foot</link>
                <pose>0 0 0 0 0 0</pose>
            </plot>
        </plugin>
    </gazebo>

    <gazebo>
      <plugin name="gazebo_ros_p3d" filename="libgazebo_ros_p3d.so">
        <ros>
          <namespace>/</namespace>
          <remapping>odom:=base_odom</remapping>
        </ros>
        <body_name>base</body_name>
        <update_rate>100</update_rate>
        <gaussian_noise>0.0</gaussian_noise>
      </plugin>
    </gazebo>



    <gazebo reference="base">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>1000</update_rate>
            <visualize>true</visualize>
            <topic>__default_topic__</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>trunk_imu</topicName>
                <bodyName>base</bodyName>
                <updateRateHZ>1000.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
            </plugin>
            <pose>0.0 0.0 0 0 0 0</pose>
        </sensor>
    </gazebo>




    </xacro:if>

    <xacro:if value="${int(ros_version) == 2}">
    <gazebo>
      <plugin name="gazebo_ros_p3d" filename="libgazebo_ros_p3d.so">
        <ros>
          <namespace>/</namespace>
          <remapping>odom:=base_odom</remapping>
        </ros>
        <body_name>base</body_name>
        <update_rate>100</update_rate>
        <gaussian_noise>0.0</gaussian_noise>
      </plugin>
    </gazebo>


    <gazebo reference="base">
      <sensor name="imu_sensor" type="imu">
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <ros>
            <namespace>/</namespace>
            <remapping>~/out:=imu</remapping>
          </ros>
          <initial_orientation_as_reference>false</initial_orientation_as_reference>
        </plugin>
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
      </sensor>

      <sensor name="odometry_sensor" type="odom">
        <plugin name="odom_plugin" filename="libgazebo_ros_p3d.so">
          <ros>
            <namespace>/</namespace>
            <remapping>~/odom:=odom</remapping>
          </ros>
          <body_name>base</body_name>
          <frame_name>odom</frame_name>
          <update_rate>100.0</update_rate>
        </plugin>
      </sensor>



      <!-- ========== 深度相机 ========== -->
      <sensor name="depth_camera" type="depth">
        <always_on>true</always_on>

        <update_rate>40</update_rate>

        <visualize>false</visualize>

        <!-- position = [0.37, 0, 0.03]
             y_angle = pitch 下俯，单位弧度 -->
        <!-- <pose>0.345 0 0.05 0 0.122 0</pose> -->
        <!-- <pose>0.37 0 0.03 0 0.0698 0</pose> -->
        <!-- <pose>0.37 0 0.03 0 0.0698 0</pose> -->
        <!-- <pose>0.33 0 0.128 0 0 0</pose> -->
        <pose>0.3195 0 0.1115 0 0.174533 0</pose>
         <!-- <pose>0.3195 0 0.1815 0 0.523599 0</pose> -->
        <!-- 0.017453 rad ≈ 1° -->
        <!-- 0.034907 rad ≈ 2° -->
        <!-- 0.052360 rad ≈ 3° -->
        <!-- 0.069813 rad ≈ 4° -->
        <!-- 0.087266 rad ≈ 5° -->
        <!-- 0.104720 rad ≈ 6° -->
        <!-- 0.122173 rad ≈ 7° -->
        <!-- 0.139626 rad ≈ 8° -->
        <!-- 0.157080 rad ≈ 9° -->
        <!-- 0.174533 rad ≈ 10° -->
        <!-- 0.191986 rad ≈ 11° -->
        <!-- 0.209440 rad ≈ 12° -->
        <!-- 0.226893 rad ≈ 13° -->
        <!-- 0.244346 rad ≈ 14° -->
        <!-- 0.261799 rad ≈ 15° -->
        <!-- 0.279253 rad ≈ 16° -->
        <!-- 0.296706 rad ≈ 17° -->
        <!-- 0.314159 rad ≈ 18° -->
        <!-- 0.331613 rad ≈ 19° -->
        <!-- 0.349066 rad ≈ 20° -->
        <!-- 0.366519 rad ≈ 21° -->
        <!-- 0.383972 rad ≈ 22° -->
        <!-- 0.401426 rad ≈ 23° -->
        <!-- 0.418879 rad ≈ 24° -->
        <!-- 0.436332 rad ≈ 25° -->
        <!-- 0.453786 rad ≈ 26° -->
        <!-- 0.471239 rad ≈ 27° -->
        <!-- 0.488692 rad ≈ 28° -->
        <!-- 0.506145 rad ≈ 29° -->
        <!-- 0.523599 rad ≈ 30° -->
        <camera>
          <!-- 58° → 弧度 -->
          <horizontal_fov>1.01229</horizontal_fov>
          <image>
            <width>64</width>
            <height>64</height>
            <format>R32F</format>
          </image>

          <clip>
            <near>0.01</near>
            <far>3.0</far>
          </clip>
        </camera>

        <plugin name="depth_camera_plugin" filename="libgazebo_ros_camera.so">
          <ros>
            <namespace>/depth</namespace>
          </ros>
          <frame_name>base</frame_name>
        </plugin>

      </sensor>



    </gazebo>

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <xacro:macro name="joint_interface" params="joint_name torque_limit">
            <joint name="${joint_name}">
            <command_interface name="effort">
                <param name="min">-${torque_limit}</param>
                <param name="max">${torque_limit}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
            </joint>
        </xacro:macro>

        <xacro:macro name="leg_joints" params="prefix">
            <xacro:joint_interface joint_name="${prefix}_hip_joint" torque_limit="${hip_torque_max}"/>
            <xacro:joint_interface joint_name="${prefix}_thigh_joint" torque_limit="${thigh_torque_max}"/>
            <xacro:joint_interface joint_name="${prefix}_calf_joint" torque_limit="${calf_torque_max}"/>
        </xacro:macro>

        <xacro:leg_joints prefix="FL"/>
        <xacro:leg_joints prefix="FR"/>
        <xacro:leg_joints prefix="RL"/>
        <xacro:leg_joints prefix="RR"/>

    </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find panda3_description)/config/robot_control.yaml</parameters>
        </plugin>
    </gazebo>

    </xacro:if>


    <gazebo reference="base">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- FL leg -->
    <gazebo reference="FL_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>

    </gazebo>
    <gazebo reference="FL_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="FL_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="FL_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- FR leg -->
    <gazebo reference="FR_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="FR_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="FR_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="FR_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- RL leg -->
    <gazebo reference="RL_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="RL_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="RL_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="RL_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- RR leg -->
    <gazebo reference="RR_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="RR_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="RR_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="RR_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

</robot>
