<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="MCat">
  <link
    name="base">
    <inertial>
      <origin
        xyz="-0.00202429233932734 -0.00191439557723508 -0.0162060723401418"
        rpy="0 0 0" />
      <mass
        value="12.1563657079259" />
      <inertia
        ixx="0.0547087652466687"
        ixy="4.44586974597564E-05"
        ixz="-0.000169540190751134"
        iyy="0.0839677232996351"
        iyz="-1.83668926259717E-05"
        izz="0.116443585784269" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/base.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="FL_hip">
    <inertial>
      <origin
        xyz="-0.0135743006129709 -0.0146338381180833 0.000221623322046671"
        rpy="0 0 0" />
      <mass
        value="0.602542264410564" />
      <inertia
        ixx="0.000459761220423681"
        ixy="1.45396009800442E-06"
        ixz="1.11616834607541E-06"
        iyy="0.000914077185979958"
        iyz="-1.56692628514192E-07"
        izz="0.000612038563525872" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FL_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FL_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_hip_joint"
    type="revolute">
    <origin
      xyz="0.28494 0.079803 -0.015554"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="FL_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FL_thigh">
    <inertial>
      <origin
        xyz="-0.00595362903366281 -0.0326969169754271 -0.0440118839928252"
        rpy="0 0 0" />
      <mass
        value="0.785678491739206" />
      <inertia
        ixx="0.00436995881170484"
        ixy="-4.23636663045695E-05"
        ixz="0.000333213142764721"
        iyy="0.00469808070989148"
        iyz="-0.000332449813667282"
        izz="0.00074765536760887" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FL_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FL_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_thigh_joint"
    type="revolute">
    <origin
      xyz="0 0.1055 0"
      rpy="0 0 0" />
    <parent
      link="FL_hip" />
    <child
      link="FL_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FL_calf">
    <inertial>
      <origin
        xyz="0.014490067955333 2.9360936584788E-07 -0.122677236489571"
        rpy="0 0 0" />
      <mass
        value="0.220169741162109" />
      <inertia
        ixx="0.0021235083730478"
        ixy="1.21803014428595E-10"
        ixz="-5.85106358586893E-05"
        iyy="0.00216132719842408"
        iyz="1.91880997405861E-10"
        izz="5.41701070744701E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FL_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FL_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.26"
      rpy="0 0 0" />
    <parent
      link="FL_thigh" />
    <child
      link="FL_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FL_foot">
    <inertial>
      <origin
        xyz="-0.00213577656465458 -1.02259671841409E-08 -0.00353057387333955"
        rpy="0 0 0" />
      <mass
        value="0.0333171708165601" />
      <inertia
        ixx="7.22195293547157E-06"
        ixy="2.71121643660529E-11"
        ixz="-2.92499802061473E-06"
        iyy="1.09566553679955E-05"
        iyz="2.74724632298732E-11"
        izz="1.03078646369766E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FL_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FL_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_foot_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.26851"
      rpy="0 0 0" />
    <parent
      link="FL_calf" />
    <child
      link="FL_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FR_hip">
    <inertial>
      <origin
        xyz="-0.0135743006129596 0.0146338381180807 -0.000221623321570968"
        rpy="0 0 0" />
      <mass
        value="0.602542264410564" />
      <inertia
        ixx="0.000459761220423682"
        ixy="-1.4539600980046E-06"
        ixz="-1.11616834607342E-06"
        iyy="0.000914077185979958"
        iyz="-1.56692628514158E-07"
        izz="0.000612038563525873" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FR_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FR_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_hip_joint"
    type="revolute">
    <origin
      xyz="0.28494 -0.084197 -0.015554"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="FR_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FR_thigh">
    <inertial>
      <origin
        xyz="-0.0069008101321531 0.0293956513566173 -0.0473729783867188"
        rpy="0 0 0" />
      <mass
        value="0.736903980621104" />
      <inertia
        ixx="0.00436990246458299"
        ixy="4.22258480674531E-05"
        ixz="0.000334599662784874"
        iyy="0.00469486957628012"
        iyz="0.000332296865512665"
        izz="0.000744044040814024" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FR_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FR_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_thigh_joint"
    type="revolute">
    <origin
      xyz="0 -0.1035 0"
      rpy="0 0 0" />
    <parent
      link="FR_hip" />
    <child
      link="FR_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FR_calf">
    <inertial>
      <origin
        xyz="0.014490067956101 2.93608623302966E-07 -0.122677236489982"
        rpy="0 0 0" />
      <mass
        value="0.220169741162109" />
      <inertia
        ixx="0.00212350837304782"
        ixy="1.21803027402535E-10"
        ixz="-5.85106358586927E-05"
        iyy="0.0021613271984241"
        iyz="1.91880536131139E-10"
        izz="5.41701070744661E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FR_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FR_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.26"
      rpy="0 0 0" />
    <parent
      link="FR_thigh" />
    <child
      link="FR_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FR_foot">
    <inertial>
      <origin
        xyz="-0.00213577656389202 -1.02259907486246E-08 -0.00353057387379468"
        rpy="0 0 0" />
      <mass
        value="0.033317170816562" />
      <inertia
        ixx="7.221952935472E-06"
        ixy="2.71121646957576E-11"
        ixz="-2.92499802061502E-06"
        iyy="1.09566553679961E-05"
        iyz="2.74724632100904E-11"
        izz="1.0307864636977E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FR_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/FR_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_foot_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.26851"
      rpy="0 0 0" />
    <parent
      link="FR_calf" />
    <child
      link="FR_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RL_hip">
    <inertial>
      <origin
        xyz="0.0135743006129595 -0.0146338381170842 -0.00022162332139368"
        rpy="0 0 0" />
      <mass
        value="0.602542264410564" />
      <inertia
        ixx="0.000459761220423681"
        ixy="-1.45396009800454E-06"
        ixz="1.1161683460754E-06"
        iyy="0.000914077185979957"
        iyz="1.56692628514306E-07"
        izz="0.000612038563525873" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RL_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RL_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_hip_joint"
    type="revolute">
    <origin
      xyz="-0.28906 0.079803 -0.015554"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="RL_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RL_thigh">
    <inertial>
      <origin
        xyz="-0.00595362903365165 -0.0326969169755244 -0.0440118839931241"
        rpy="0 0 0" />
      <mass
        value="0.785678491739206" />
      <inertia
        ixx="0.00436995881170474"
        ixy="-4.23636663046177E-05"
        ixz="0.000333213142765236"
        iyy="0.00469808070989146"
        iyz="-0.000332449813667276"
        izz="0.000747655367608964" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RL_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RL_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_thigh_joint"
    type="revolute">
    <origin
      xyz="0 0.1055 0"
      rpy="0 0 0" />
    <parent
      link="RL_hip" />
    <child
      link="RL_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RL_calf">
    <inertial>
      <origin
        xyz="0.0144900679561005 2.93608578449955E-07 -0.122677236490078"
        rpy="0 0 0" />
      <mass
        value="0.220169741162111" />
      <inertia
        ixx="0.00212350837304782"
        ixy="1.21803014671272E-10"
        ixz="-5.85106358586897E-05"
        iyy="0.0021613271984241"
        iyz="1.91880997429213E-10"
        izz="5.4170107074472E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RL_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RL_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.26"
      rpy="0 0 0" />
    <parent
      link="RL_thigh" />
    <child
      link="RL_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RL_foot">
    <inertial>
      <origin
        xyz="-0.00213577656388564 -1.02259912759806E-08 -0.00353057387380917"
        rpy="0 0 0" />
      <mass
        value="0.0333171708165628" />
      <inertia
        ixx="7.22195293547217E-06"
        ixy="2.71121640064022E-11"
        ixz="-2.92499802061511E-06"
        iyy="1.09566553679963E-05"
        iyz="2.74724634048749E-11"
        izz="1.03078646369771E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RL_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RL_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_foot_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.26851"
      rpy="0 0 0" />
    <parent
      link="RL_calf" />
    <child
      link="RL_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RR_hip">
    <inertial>
      <origin
        xyz="0.0135743006129562 0.0146338381180847 0.000221623321567055"
        rpy="0 0 0" />
      <mass
        value="0.602542264410565" />
      <inertia
        ixx="0.000459761220423681"
        ixy="1.45396009800462E-06"
        ixz="-1.1161683460734E-06"
        iyy="0.000914077185979958"
        iyz="1.56692628514087E-07"
        izz="0.000612038563525872" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RR_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RR_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_hip_joint"
    type="revolute">
    <origin
      xyz="-0.28906 -0.084197 -0.015554"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="RR_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RR_thigh">
    <inertial>
      <origin
        xyz="-0.0069008101321521 0.0293956513566164 -0.0473729783868072"
        rpy="0 0 0" />
      <mass
        value="0.736903980621102" />
      <inertia
        ixx="0.00436990246458296"
        ixy="4.22258480674531E-05"
        ixz="0.000334599662784875"
        iyy="0.0046948695762801"
        iyz="0.000332296865512666"
        izz="0.000744044040814025" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RR_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RR_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_thigh_joint"
    type="revolute">
    <origin
      xyz="0 -0.1035 0"
      rpy="0 0 0" />
    <parent
      link="RR_hip" />
    <child
      link="RR_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RR_calf">
    <inertial>
      <origin
        xyz="0.0144900679561096 2.9360860545613E-07 -0.12267723649002"
        rpy="0 0 0" />
      <mass
        value="0.220169741162111" />
      <inertia
        ixx="0.00212350837304783"
        ixy="1.21803027263755E-10"
        ixz="-5.8510635858692E-05"
        iyy="0.00216132719842411"
        iyz="1.91880536180507E-10"
        izz="5.41701070744697E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RR_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RR_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.26"
      rpy="0 0 0" />
    <parent
      link="RR_thigh" />
    <child
      link="RR_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RR_foot">
    <inertial>
      <origin
        xyz="-0.00213577656385167 -1.02259906653579E-08 -0.00353057387379313"
        rpy="0 0 0" />
      <mass
        value="0.0333171708165628" />
      <inertia
        ixx="7.22195293547207E-06"
        ixy="2.71121647354543E-11"
        ixz="-2.92499802061506E-06"
        iyy="1.09566553679964E-05"
        iyz="2.74724631924321E-11"
        izz="1.03078646369773E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RR_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://MCat/meshes/RR_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_foot_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.26851"
      rpy="0 0 0" />
    <parent
      link="RR_calf" />
    <child
      link="RR_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>