<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="MCat">
  <link
    name="base">
    <inertial>
      <origin
        xyz="0.00318608 0.00029494 -0.01284135"
        rpy="0 0 0" />
      <mass
        value="20.90069011" />
      <inertia
        ixx="0.12311424"
        ixy="-0.00127754"
        ixz="0.00078059"
        iyy="0.38550893"
        iyz="0.00025866"
        izz="0.44680085" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/base.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.013"/>
      <geometry>
        <box size="0.32 0.27 0.14"/>
      </geometry>
    </collision> -->
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.013"/>
      <geometry>
        <box size="0.32 0.16 0.16"/>
      </geometry>
    </collision>
    <collision>
        <origin xyz="0 -0.082 -0.011" rpy="0 1.57079632 0"/>
        <geometry>
            <cylinder length="0.32" radius="0.08"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="0 0.082 -0.011" rpy="0 1.57079632 0"/>
        <geometry>
            <cylinder length="0.32" radius="0.08"/>
        </geometry>
    </collision>

    <!-- <collision>
      <origin xyz="0 0.0 0.073" rpy="0 0 0"/>
      <geometry>
        <box size="0.32 0.15 0.004"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0.0 -0.095" rpy="0 0 0"/>
      <geometry>
        <box size="0.32 0.15 0.004"/>
      </geometry>
    </collision> -->
    <!-- <collision>
      <origin rpy="0 0 0" xyz="0.344 0.0 0.0"/>
      <geometry>
        <box size="0.014 0.185 0.105"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.344 0.0 0.0"/>
      <geometry>
        <box size="0.014 0.185 0.105"/>
      </geometry>
    </collision> -->
  </link>
  <link name="head">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="1.8"/>
    <inertia
      ixx="0.01"
      ixy="0.0"
      ixz="0.0"
      iyy="0.01"
      iyz="0.0"
      izz="0.01"/>
  </inertial>

  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.1 0.1 0.1"/>
    </geometry>
    <material name="gray">
      <color rgba="0.6 0.6 0.6 1"/>
    </material>
  </visual>

  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.1 0.1 0.1"/>
    </geometry>
  </collision>
  </link>
  <joint name="base_to_head" type="fixed">
    <parent link="base"/>
    <child link="head"/>
    <!-- 头在 base 正上方 -->
    <origin xyz="0.3 0 0.12" rpy="0 0 0"/>
  </joint>
  <link
    name="FL_hip">
    <inertial>
      <origin
        xyz="-0.00230043 -0.01037046 0.00016444"
        rpy="0 0 0" />
      <mass
        value="1.12888829" />
      <inertia
        ixx="0.00101564"
        ixy="0.00000946"
        ixz="0.00000831"
        iyy="0.00159448"
        iyz="-0.00000522"
        izz="0.00123571" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/FL_hip.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/FL_hip.STL" />
      </geometry>
    </collision> -->
    <!-- <collision>
        <origin xyz="0 -0.025 0" rpy="1.57079632 0 0"/>
        <geometry>
            <cylinder length="0.050" radius="0.05"/>
        </geometry>
    </collision> -->
  </link>
  <joint
    name="FL_hip_joint"
    type="revolute">
    <origin
      xyz="0.286 0.082 -0.0"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="FL_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.8"
      upper="0.8"
      effort="60"
      velocity="14.0" />
  </joint>
  <link
    name="FL_thigh">
    <inertial>
      <origin
        xyz="-0.00302298 -0.03822477 -0.02112195"
        rpy="0 0 0" />
      <mass
        value="1.96466711" />
      <inertia
        ixx="0.00912715"
        ixy="0.00027509"
        ixz="-0.00073459"
        iyy="0.00870374"
        iyz="0.00162064"
        izz="0.00275570" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/FL_thigh.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.57 0 0" xyz="0 -0.043 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.12"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.021 0 -0.135"/>
      <geometry>
        <box size="0.044 0.03 0.16"/>
      </geometry>
    </collision>

  </link>
  <joint
    name="FL_thigh_joint"
    type="revolute">
    <origin
      xyz="0 0.1055 0"
      rpy="0 0 0" />
    <parent
      link="FL_hip" />
    <child
      link="FL_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.62"
      upper="3.735"
      effort="60"
      velocity="14.0" />
  </joint>
  <link
    name="FL_calf">
    <inertial>
      <origin
        xyz="0.01449114 0.0 -0.12267318"
        rpy="0 0 0" />
      <mass
        value="0.22017362" />
      <inertia
        ixx="0.00212347"
        ixy="0.0"
        ixz="0.00005851"
        iyy=" 0.00216129"
        iyz="0.0"
        izz="0.00005417" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/FL_calf.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.65 0" xyz="0.02 0 -0.158"/>
      <geometry>
        <box size="0.2 0.02 0.035"/>
      </geometry>
    </collision>
    <!-- <collision>
      <origin rpy="1.57 0 0" xyz="-0.004 0 0"/>
      <geometry>
        <cylinder radius="0.013" length="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="1.57 0 0" xyz="-0.001 0 0.025"/>
      <geometry>
        <cylinder radius="0.013" length="0.02"/>
      </geometry>
    </collision> -->
  </link>
  <joint
    name="FL_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.26"
      rpy="0 0 0" />
    <parent
      link="FL_thigh" />
    <child
      link="FL_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.443"
      upper="-0.524"
      effort="90"
      velocity="14.0" />
  </joint>
  <link
    name="FL_foot">
    <inertial>
      <origin
        xyz="-0.00728207 0.0000000 -0.01210451"
        rpy="0 0 0" />
      <mass
        value="0.03331764" />
      <inertia
        ixx="0.00000722"
        ixy="-0.0000000"
        ixz="0.00000292"
        iyy="0.00001096"
        iyz="-0.0000000"
        izz="0.0000103" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/FL_foot.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.005 0 0.005"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_foot_joint"
    type="fixed"  dont_collapse="true">
    <origin
      xyz="0 0 -0.26851"
      rpy="0 0 0" />
    <parent
      link="FL_calf" />
    <child
      link="FL_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FR_hip">
    <inertial>
      <origin
        xyz="-0.00230043 0.01037046 -0.0001644"
        rpy="0 0 0" />
      <mass
        value="1.12888829" />
      <inertia
        ixx="0.00101564"
        ixy="-0.00000946"
        ixz="-0.00000831"
        iyy="0.00159448"
        iyz="-0.00000522"
        izz="0.00123571" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/FR_hip.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/FR_hip.STL" />
      </geometry>
    </collision> -->
    <!-- <collision>
        <origin xyz="0 0.025 0" rpy="1.57079632 0 0"/>
        <geometry>
            <cylinder length="0.050" radius="0.05"/>
        </geometry>
    </collision> -->
  </link>
  <joint
    name="FR_hip_joint"
    type="revolute">
    <origin
      xyz="0.286 -0.082 -0.0"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="FR_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.8"
      upper="0.8"
      effort="60"
      velocity="14.0" />
  </joint>
  <link
    name="FR_thigh">
    <inertial>
      <origin
        xyz="-0.0030885 0.03622672 -0.02113314"
        rpy="0 0 0" />
      <mass
        value="1.96467358" />
      <inertia
        ixx="0.00913837"
        ixy="-0.00028378"
        ixz="-0.00076048"
        iyy="0.00871947"
        iyz="-0.00162403"
        izz="0.00276069" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/FR_thigh.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.57 0 0" xyz="0 0.043 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.12"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.021 0 -0.135"/>
      <geometry>
        <box size="0.044 0.03 0.16"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_thigh_joint"
    type="revolute">
    <origin
      xyz="0 -0.1035 0"
      rpy="0 0 0" />
    <parent
      link="FR_hip" />
    <child
      link="FR_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.62"
      upper="3.73"
      effort="60"
      velocity="14.0" />
  </joint>
  <link
    name="FR_calf">
    <inertial>
      <origin
        xyz="0.01449052 0.0 -0.12267287"
        rpy="0 0 0" />
      <mass
        value="0.22016958" />
      <inertia
        ixx="0.00212347"
        ixy="0.0"
        ixz="0.00005852"
        iyy=" 0.00216129"
        iyz="0.0"
        izz="0.00005416" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/FR_calf.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.65 0" xyz="0.02 0 -0.158"/>
      <geometry>
        <box size="0.2 0.02 0.035"/>
      </geometry>
    </collision>
    <!-- <collision>
      <origin rpy="1.57 0 0" xyz="-0.004 0 0"/>
      <geometry>
        <cylinder radius="0.013" length="0.03"/>
      </geometry>
    </collision>

    <collision>
      <origin rpy="1.57 0 0" xyz="-0.001 0 0.025"/>
      <geometry>
        <cylinder radius="0.013" length="0.02"/>
      </geometry>
    </collision> -->
  </link>
  <joint
    name="FR_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.26"
      rpy="0 0 0" />
    <parent
      link="FR_thigh" />
    <child
      link="FR_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.44"
      upper="-0.52"
      effort="90"
      velocity="14.0" />
  </joint>
  <link
    name="FR_foot">
    <inertial>
      <origin
        xyz="-0.00728207 0.0000000 -0.01210451"
        rpy="0 0 0" />
      <mass
        value="0.03331764" />
      <inertia
        ixx="0.00000722"
        ixy="-0.0000000"
        ixz="0.00000292"
        iyy="0.00001096"
        iyz="-0.0000000"
        izz="0.0000103" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/FR_foot.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.005 0 0.005"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_foot_joint"
    type="fixed"  dont_collapse="true">
    <origin
      xyz="0 0 -0.26851"
      rpy="0 0 0" />
    <parent
      link="FR_calf" />
    <child
      link="FR_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RL_hip">
    <inertial>
      <origin
        xyz="0.00230043 -0.01037046 -0.00016444"
        rpy="0 0 0" />
      <mass
        value="1.12888829" />
      <inertia
        ixx="0.00101564"
        ixy="-0.00000946"
        ixz="0.00000831"
        iyy="0.00159448"
        iyz="0.00000522"
        izz="0.00123571" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/RL_hip.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/RL_hip.STL" />
      </geometry>
    </collision> -->
    <!-- <collision>
        <origin xyz="0 -0.025 0" rpy="1.57079632 0 0"/>
        <geometry>
            <cylinder length="0.050" radius="0.05"/>
        </geometry>
    </collision> -->
  </link>
  <joint
    name="RL_hip_joint"
    type="revolute">
    <origin
      xyz="-0.286 0.082 -0.0"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="RL_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.8"
      upper="0.8"
      effort="60"
      velocity="14.0" />
  </joint>
  <link
    name="RL_thigh">
    <inertial>
      <origin
        xyz="-0.00302298 -0.03822477 -0.02112195"
        rpy="0 0 0" />
      <mass
        value="1.96466711" />
      <inertia
        ixx="0.00912715"
        ixy="0.00027509"
        ixz="-0.00073459"
        iyy="0.00870374"
        iyz="0.00162064"
        izz="0.00275570" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/RL_thigh.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin rpy="1.57 0 0" xyz="0 -0.046 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.129"/>
      </geometry>
    </collision> -->
    <collision>
      <origin rpy="1.57 0 0" xyz="0 -0.043 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.12"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.021 0 -0.135"/>
      <geometry>
        <box size="0.044 0.03 0.16"/>
      </geometry>
    </collision>

  </link>
  <joint
    name="RL_thigh_joint"
    type="revolute">
    <origin
      xyz="0 0.1055 0"
      rpy="0 0 0" />
    <parent
      link="RL_hip" />
    <child
      link="RL_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.62"
      upper="3.73"
      effort="60"
      velocity="14.0" />
  </joint>
  <link
    name="RL_calf">
    <inertial>
      <origin
        xyz="0.01449114 0.0 -0.12267318"
        rpy="0 0 0" />
      <mass
        value="0.22017362" />
      <inertia
        ixx="0.00212347"
        ixy="0.0"
        ixz="0.00005851"
        iyy=" 0.00216129"
        iyz="0.0"
        izz="0.00005417" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/RL_calf.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.65 0" xyz="0.02 0 -0.158"/>
      <geometry>
        <box size="0.2 0.02 0.035"/>
      </geometry>
    </collision>
    <!-- <collision>
      <origin rpy="1.57 0 0" xyz="-0.004 0 0"/>
      <geometry>
        <cylinder radius="0.013" length="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="1.57 0 0" xyz="-0.001 0 0.025"/>
      <geometry>
        <cylinder radius="0.013" length="0.02"/>
      </geometry>
    </collision> -->
  </link>
  <joint
    name="RL_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.26"
      rpy="0 0 0" />
    <parent
      link="RL_thigh" />
    <child
      link="RL_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.44"
      upper="-0.52"
      effort="90"
      velocity="14.0" />
  </joint>
  <link
    name="RL_foot">
    <inertial>
      <origin
        xyz="-0.00728207 0.0000000 -0.01210451"
        rpy="0 0 0" />
      <mass
        value="0.03331764" />
      <inertia
        ixx="0.0000072"
        ixy="-0.0000000"
        ixz="0.00000292"
        iyy="0.00001096"
        iyz="-0.0000000"
        izz="0.00001031" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/RL_foot.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.005 0 0.005"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_foot_joint"
    type="fixed"  dont_collapse="true">
    <origin
      xyz="0 0 -0.26851"
      rpy="0 0 0" />
    <parent
      link="RL_calf" />
    <child
      link="RL_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RR_hip">
    <inertial>
      <origin
        xyz="0.00230043 0.01037046 0.0001644"
        rpy="0 0 0" />
      <mass
        value="1.12888829" />
      <inertia
        ixx="0.00101564"
        ixy="0.00000946"
        ixz="-0.00000831"
        iyy="0.00159448"
        iyz="0.00000522"
        izz="0.00123571" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/RR_hip.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/RR_hip.STL" />
      </geometry>
    </collision> -->
    <!-- <collision>
        <origin xyz="0 0.025 0" rpy="1.57079632 0 0"/>
        <geometry>
            <cylinder length="0.050" radius="0.05"/>
        </geometry>
    </collision> -->
  </link>
  <joint
    name="RR_hip_joint"
    type="revolute">
    <origin
      xyz="-0.286 -0.082 -0.0"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="RR_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.8"
      upper="0.8"
      effort="60"
      velocity="14.0" />
  </joint>
  <link
    name="RR_thigh">
    <inertial>
      <origin
        xyz="-0.0030885 0.03622672 -0.02113314"
        rpy="0 0 0" />
      <mass
        value="1.96467358" />
      <inertia
        ixx="0.00913837"
        ixy="-0.00028378"
        ixz="-0.00076048"
        iyy="0.00871947"
        iyz="-0.00162403"
        izz="0.00276069" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/RR_thigh.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin rpy="1.57 0 0" xyz="0 0.046 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.129"/>
      </geometry>
    </collision> -->
    <collision>
      <origin rpy="1.57 0 0" xyz="0 0.043 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.12"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.021 0 -0.135"/>
      <geometry>
        <box size="0.044 0.03 0.16"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_thigh_joint"
    type="revolute">
    <origin
      xyz="0 -0.1035 0"
      rpy="0 0 0" />
    <parent
      link="RR_hip" />
    <child
      link="RR_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.62"
      upper="3.73"
      effort="60"
      velocity="14.0" />
  </joint>
  <link
    name="RR_calf">
    <inertial>
      <origin
        xyz="0.01449052 0.0 -0.12267287"
        rpy="0 0 0" />
      <mass
        value="0.22016958" />
      <inertia
        ixx="0.00212347"
        ixy="0.0"
        ixz="0.00005852"
        iyy=" 0.00216129"
        iyz="0.0"
        izz="0.00005416" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/RR_calf.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.65 0" xyz="0.02 0 -0.158"/>
      <geometry>
        <box size="0.2 0.02 0.035"/>
      </geometry>
    </collision>
    <!-- <collision>
      <origin rpy="1.57 0 0" xyz="-0.004 0 0"/>
      <geometry>
        <cylinder radius="0.013" length="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="1.57 0 0" xyz="-0.001 0 0.025"/>
      <geometry>
        <cylinder radius="0.013" length="0.02"/>
      </geometry>
    </collision> -->
  </link>
  <joint
    name="RR_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.26"
      rpy="0 0 0" />
    <parent
      link="RR_thigh" />
    <child
      link="RR_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.44"
      upper="-0.52"
      effort="90"
      velocity="14.0" />
  </joint>
  <link
    name="RR_foot">
    <inertial>
      <origin
        xyz="-0.00728207 0.0000000 -0.01210451"
        rpy="0 0 0" />
      <mass
        value="0.03331764" />
      <inertia
        ixx="0.00000722"
        ixy="0.0000000"
        ixz="0.00000292"
        iyy="0.00001096"
        iyz="0.0000000"
        izz="0.00001031" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://panda3_description/meshes/RR_foot.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.005 0 0.005"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_foot_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="0 0 -0.26851"
      rpy="0 0 0" />
    <parent
      link="RR_calf" />
    <child
      link="RR_foot" />
    <axis
      xyz="0 0 0" />
  </joint>

</robot>